@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
}

header {
  background-color: rgba(255, 255, 255, 0.2);
}

#section-presentation {
  background-image: url('../images/background_header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.image-mask {
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

#how-we-work {
  background-color: #F3F4F6;
}

#steps {
  background-image: url('../images/background_medium.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.box-step {
  background-color: rgba(0, 0, 0, 0.5);
}

.box-step h1 {
  color: #ffffff;
  position: relative;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-step h1 .circle-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bidget {
  background-color: #D82B84;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  margin-right: 5px;
}

.background-header {
  background: #000000;
}


@media only screen and (min-width: 700px) {
  .box-step {
    background-color:  rgba(255, 255, 255, 0.2);
  }
}

.line-participant {
  background-color: rgba(255, 255, 255, 0.2);
  height: 3px;
  width: 100%;
  margin-right: 10px;
  margin-top: 20px;
}

.line-participant-active {
  background-color: #D82B84;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
}

input[type="radio"]:checked {
  outline: none;
  background-color: #D82B84;
}

input[type="radio"]:checked:active {
  outline: none;
  background-color: #D82B84;
}

input[type="radio"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 5p;
  background-color: transparent;
  display: inline-block;
}

input[type="checkbox"]:checked {
  outline: none;
  background-color: #D82B84;
}

input[type="checkbox"]:checked:active {
  outline: none;
  background-color: #D82B84;
}

input[type="checkbox"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.custom-input {
  background: transparent;
  width: 50px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 6px;
  font-weight: bold;
}

.btn-tickets {
  
}

.loader-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #D82B84F5;
  z-index: 99;
  justify-content: center;
  align-content: center;
  display: flex;
  align-items: center;
  display: none;
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  border:8px solid;
  border-radius: 50%;
  border-color:#6B4989 #6B4989 #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.custom-loader::after {
  border-color:#0000 #0000 #E4E4ED #E4E4ED;
  animation-direction: reverse;
}

@keyframes s4{ 
  100%{transform: rotate(1turn)}
}